@font-face {
    font-family: 'pixelify-regular'; 
    src: url('./fonts/PixelifySans-VariableFont_wght.ttf'); 
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparent; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25rem; 
    padding: 0rem, 1.0625rem;
    border-radius: 20px;
    -webkit-app-region: drag; 
    background-image: url(./assets/outer-frame-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
}

button, input, textarea, select {
    -webkit-app-region: no-drag;
    cursor: pointer;
}

button {
    -webkit-app-region: no-drag; 
    padding: 10px 20px;
    cursor: pointer;
}

.title {
    display: flex;
    width: 175px;
    padding: 0.25rem 0.625rem;
    justify-content: center;
    align-items: center;

    border-radius: 6.25rem;
    border: 1px solid #c079ff;
    background: rgba(210, 164, 255, 0.40);

    color: var(--white, #fff);

    font-family: "Pixelo", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#calendar {
    display: flex;
    width: 11.25rem;
    height: 10.0625rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem; 

    background-image: url(./assets/inner-frame-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#day {
    color: #fff;
    text-align: center;
    -webkit-text-stroke: 1.5px #b58cd9;
    font-family: 'pixelify-regular', sans-serif;
    font-size: 7.5rem;
    line-height: 0.7; 
    margin-bottom: 5px; 
}

#month {
    color: #fff;
    text-align: center;
    -webkit-text-stroke: 1.5px #b58cd9;
    font-family: 'pixelify-regular', sans-serif;
    font-size: 1.6rem;
    line-height: 1; 
    letter-spacing: 0.3rem;
    width: auto;
}
